<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.bigeyessolution.CarnaJuaApp" version="0.5.1">
    <name>CarnaJuaApp</name>
    <description>
        O aplicativo oficial do Carnaval 2016 de Juazeiro, Bahia.
    </description>
    <author email="contato@bigeyessolution.com" href="http://bigeyessolution.com">
        Big Eyes Solution Team
    </author>
    <content src="index.html"/>
    <preference name="Orientation" value="portrait"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="BackgroundColor" value="0xffffcd00"/>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <plugin name="cordova-plugin-device"/>
    <plugin name="cordova-plugin-dialogs"/>
    <plugin name="cordova-plugin-network-information"/>
    <plugin name="cordova-plugin-splashscreen"/>
    <access origin="*"/>
    <allow-navigation href="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
        <icon density="ldpi" src="res/icon/android/ldpi.png"/>
        <icon density="mdpi" src="res/icon/android/mdpi.png"/>
        <icon density="hdpi" src="res/icon/android/hdpi.png"/>
        <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
        <splash density="port-hdpi" src="res/screen/android/hdpi/port.png"/>
        <splash density="port-ldpi" src="res/screen/android/ldpi/port.png"/>
        <splash density="port-mdpi" src="res/screen/android/mdpi/port.png"/>
        <splash density="port-xhdpi" src="res/screen/android/xhdpi/port.png"/>
        <splash density="land-hdpi" src="res/screen/android/hdpi/land.png"/>
        <splash density="land-ldpi" src="res/screen/android/ldpi/land.png"/>
        <splash density="land-mdpi" src="res/screen/android/mdpi/land.png"/>
        <splash density="land-xhdpi" src="res/screen/android/xhdpi/land.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
</widget>
